 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 about-text">
                    <p>I’m a mother of two and a lover of the arts. After many years of pursuing dance performance, I have switched gears to my other first love: writing. Professionally, I have written for arts organizations, education websites, and digital media. I also have an extensive understanding of social media channels and best practices. I’m interested in branding, enjoy working on multiple projects, and writing for many different styles and voices. Personally, I love music, jogging, and cats and hate trying on clothes.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <center><h3 style="color: white; text-decoration: none;"><a href="http://stepheunger.github.io/StephanieUngerResumeMarketing.pdf" target="_blank"><img style="height:30px; width:30px;" src="https://github.com/edwinunger/edwinunger.github.io/blob/master/images/pdf.png?raw=true"> My Resumé</a></h3></center>
                </div>
            </div>
        </div>
    </section>