 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 about-text">
                    <p>I’m a mother of two and a lover of the arts. After many years in the professional dance world, I have switched gears to pursue other interests. Professionally, I have written for arts organizations, education websites, and digital media. I enjoy working on multiple projects and writing for many different styles and voices. I also have experience designing digital and print media. Personally, I love music and cats and hate trying on clothes.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <center><h3 style="color: black; text-decoration: none;"><a href="http://stepheunger.github.io/Stephanie Unger Resume.pdf" target="_blank"><img style="height:30px; width:30px;" src="https://github.com/edwinunger/edwinunger.github.io/blob/master/images/pdf.png?raw=true"><style="color:white;"> My Resumé</style></a></h3></center>
                </div>
            </div>
        </div>
    </section>
